<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios</title>
    <link rel="stylesheet" href="styles.css"> 
</head>
<body>
    
    <div class="header-actions">
        <h2>Bienvenido, <%= name %></h2>
        <a href="/logout">Cerrar Sesión </a>
    </div>

    <h1>Lista de usuarios</h1>
    
        <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Acciones</th>
        </tr>
        <% users.forEach(user =>{ %>
        <tr>
            <td><%= user.id %> </td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td>
                <a href="/edit/<%= user.id %>">Editar</a>
                <a href="/delete/<%= user.id %>" onclick="return confirm('¿Está seguro de que desea eliminar a <%= user.name %>?');">Eliminar</a>
            </td>
        </tr>
        <% }); %>
    </table>

    <hr>
    
    <h3>Agregar Nuevo Usuario</h3>
        <form action="/add" method="post">
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name" required>
        <br><br>
        <label for="email">Correo</label>
        <input type="email" name="email" id="email" required>
        <br><br>
        <button type="submit">Agregar</button> 
    </form>
</body>
</html>